<html>
	<head>
		<title>Statistic Calculator Tabajara v1.0 - Flask Edition</title>
    </head>
	<body>
		<h1>Statistic Calculator Tabajara v1.0 - Flask Edition</h1>
		<br/>
		<h2>Rol dos dados</h2>
		{% for x in range(rol|length) %}
			{{ rol[x]|int }}
		{% endfor %}
		<br/>
		<h2>K</h2>
		K = √Efi => √{{ statistic.Efi }} = {{ statistic.k }}
		<br/>
		<h2>AT</h2>
		At = Xmax - Xmin => {{statistic.xmax}} - {{statistic.xmin}} = {{ statistic.at }}
		<br/>
		<h2>IC</h2>
		Ic = at/k => {{ statistic.at }} / {{ statistic.k }} = {{ (statistic.at / statistic.k)|round }}
		<br/>
		<h2>Tabela da continua</h2>
		<br/>
		<table border="1" style="width:820px;">
			<tr>
				<th>Classe</th>
				<th>Intervalo(xi)</th>
				<th>fi</th>
				<th>fr%</th>
				<th>F</th>
				<th>F%</th>
				<th>Média(xi.fi)</th>
			</tr>
			{% for x in range((statistic.k)|int) %}
			<tr align="center">
				<td>{{ x+1 }}</th>
				<td>{{ statistic.xi[x] }} |-- {{ statistic.xi[x+1] }}</td>
				<td>{{ statistic.new_fi[x] }}</td>
				<td>{{ statistic.fr[x] }}%</td>
				<td>{{ statistic.F[x] }}</td>
				<td>{{ statistic.Fr[x] }}%</td>
				<td>{{ statistic.media[x] }}</td>
			</tr>
			{% endfor %}
			<tr align="center">
				<td>Total</td>
				<td> </td>
				<td>{{ statistic.Efi }}</td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td>{{ (statistic.Exi_fi) }}</td>
			<tr>
		</table>
		<br/>
		<form name="form_id" method="GET" action="/">
			<input type="submit" value="Voltar"/>
		</form>
	<body>
</html>
