<html>
	<head>
		<title>Statistic Calculator Tabajara v1.0 - Flask Edition</title>
    </head>
	<body>
		<h1>Statistic Calculator Tabajara v1.0 - Flask Edition</h1>
		<br/>
		<h2>Tabela da discreta</h2>
		<br/>
		<table border="1" style="width:820px;">
			<tr>
				<th>Nº</th>
				<th>xi</th>
				<th>fi</th>
				<th>fr%</th>
				<th>F</th>
				<th>F%</th>
				<th>Média(xi.fi)</th>
			</tr>
			{% for x in range(statistic.lines) %}
			<tr align="center">
				<td>{{ x+1 }}</th>
				<td>{{ statistic.xi[x] }}</td>
				<td>{{ statistic.fi[x] }}</td>
				<td>{{ statistic.fr[x] }}%</td>
				<td>{{ statistic.F[x] }}</td>
				<td>{{ statistic.Fr[x] }}%</td>
				<td>{{ statistic.media[x] }}</td>
			</tr>
			{% endfor %}
			<tr align="center">
				<td>Total</td>
				<td> </td>
				<td>{{ statistic.Efi }}</td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td>{{ (statistic.Exi_fi) }}</td>
			<tr>
		</table>
		<br/>
		<h2>Média:</h2>
		X = {{ (statistic.Exi_fi) }} / {{ statistic.Efi }} => A Média ponderada é de {{ (statistic.Exi_fi / statistic.Efi) }}
		<br/>
		<h2>Mediana:</h2>
		{% if (statistic.Efi % 2) == 0 %}
			(Efi / 2) e (Efi + 1) / 2 = {{ (statistic.Efi/2)|round|int }}º e {{ ((statistic.Efi+1)/2)|round|int }}º posições
			<br/>
			Md = ({{ rol[(statistic.Efi/2)|int] }} + {{ rol[((statistic.Efi+1)/2)|int] }}) / 2 => {{ ((rol[(statistic.Efi/2)|int]|float + rol[(statistic.Efi/2)|int]|float) / 2) }}
		{% else %}
		(Efi + 1) / 2 = {{ ((statistic.Efi+1)/2)|round }}º posição
			<br/>
			Md = ({{ rol[(statistic.Efi/2)|int|float] }}) / 2 =>
		{% endif %}
		<br/>
		<h2>Moda:</h2>
		Mo = 
		{% if statistic.moda|length == 2 %}
			{{ statistic.moda[0] }} e {{ statistic.moda[1] }}
		{% else %}
			{{ statistic.moda[0] }}
		{% endif %}
		<br/>
		<br/>
		<form name="form_id" method="GET" action="/">
			<input type="submit" value="Voltar"/>
		</form>
	<body>
</html>