<html>
	<head>
		<title>Statistic Calculator Tabajara v1.0 - Flask Edition</title>
    </head>
	<body>
		<h1>Statistic Calculator Tabajara v1.0 - Flask Edition</h1>
		<br/>
    Distribuição Binomial<br/><br/>
    p: 0.4<br/>
    q: 0.6<br/>
    n: 10<br/>
    k: 10<br/>
    <br/>
    TOTAL = 0.0001 = 0.01%<br/>
    Média: 60.000000 - Variância: 15.000000 - Desvio: 3.872983<br/>
		<br/>
		<form name="form_id" method="POST" action="/">
			<input type="submit" value="Voltar"/>
		</form>
  <body>
</html>
