<html>
	<head>
		<title>Statistic Calculator Tabajara v1.0 - Flask Edition</title>
    </head>
	<body>
		<h1>Statistic Calculator Tabajara v1.0 - Flask Edition</h1>
		<br/>
		Z: {{ z }}<br/>
    Média: {{ media }}<br/>
    Desvio Padrão: {{ desvio_padrao }}<br/>
    <br/>
    Z = x - x / ø(x) => {{ z }} - {{ media }} / {{ desvio_padrao }} => {{ z - media }} / {{ desvio_padrao }} = {{ (z - media) / desvio_padrao }}<br/>
    Na tabela de distribuição normal {{ ((z - media) / desvio_padrao)|round(2) }} => 0.3413<br/>
    <br/>
    Probabilidade: 0.5 - 0.3413 = 0.1587 => 15.87%<br/>
		<br/>
		<form name="form_id" method="POST" action="/">
			<input type="submit" value="Voltar"/>
		</form>
  <body>
</html>
