<html>
	<head>
		<title>Statistic Calculator Tabajara v1.0 - Flask Edition</title>
    </head>
	<body>
		<h1>Statistic Calculator Tabajara v1.0 - Flask Edition</h1>
		<br/>
    Média: 300<br/>
    Desvio Padrão: 20<br/>
    <br/>
    Z = x - x / ø(x) => 280 - 300 / 20 => - 20 / 20 = - 1 => - 1.0<br/>
    Na tabela de distribuição normal -1.0 => 1.0 | 0 = 0.3413<br/>
    <br/>
    Probabilidade: 0.5 - 0.3413 = 0.1587 => 15.87%<br/>
		<br/>
		<form name="form_id" method="POST" action="/">
			<input type="submit" value="Voltar"/>
		</form>
  <body>
</html>
