<html>
	<head>
		<title>Statistic Calculator Tabajara v1.0 - Flask Edition</title>
    </head>
	<body>
		<h1>Statistic Calculator Tabajara v1.0 - Flask Edition</h1>
		<br/>
		X: {{ x }}<br/>
    Média: {{ media }}<br/>
    Desvio Padrão: {{ desvio_padrao }}<br/>
    <br/>
    Z = X - Média / Desvio Padrão => {{ x }} - {{ media }} / {{ desvio_padrao }} => {{ x - media }} / {{ desvio_padrao }} = {{ (x - media) / desvio_padrao }}<br/>
    Na tabela de distribuição normal {{ ((x - media) / desvio_padrao)|round(2) }} => {{ dn }}<br/>
    <br/>
    Probabilidade: 0.5 - {{ dn }} = {{ 0.5 - dn }} => {{ (0.5 - dn) * 100 }}%<br/>
		<br/>
		<form name="form_id" method="POST" action="/">
			<input type="submit" value="Voltar"/>
		</form>
  <body>
</html>
