<html>
	<head>
		<title>Statistic Calculator Tabajara v1.0 - Flask Edition</title>
    </head>
	<body>
		<h1>Statistic Calculator Tabajara v1.0 - Flask Edition</h1>
		<br/>
    Distribuição Binomial<br/><br/>
    p: {{ p }}<br/>
    q: {{ q }}<br/>
    n: {{ n }}<br/>
    k: {{ k }}<br/>
    <br/>
    TOTAL = {{ total|round(4) }} = {{ (total)|round(4) * 100 }}%<br/>
		<br/>
    Média: {{ n*p }} - Variância: {{ p*q*n }} - Desvio: {{ math.sqrt(n*p*q) }}<br/>
		<br/>
		<form name="form_id" method="POST" action="/">
			<input type="submit" value="Voltar"/>
		</form>
  <body>
</html>
