<html>
	<head>
		<title>Statistic Calculator Tabajara v1.0 - Flask Edition</title>
    </head>
	<body>
		<h1>Statistic Calculator Tabajara v1.0 - Flask Edition</h1>
		<br/>
		<form name="form_id" method="POST" action="data">
			<h2>
				Dados Brutos:
				<input type="text" name="dados" size="78"/>
				<select name="form_id" id="form_id">
					<option value="discreta">Discreta</option>
					<option value="continua">Continua</option>
					<option value="desvio_padrao">Desvio Padrão</option>
				</select>
				<input type="submit" value="Gerar tabela"/>
			</h2>
		</form>
	</body>
</html>
